<div id="layout1">
  <h2 class="hero" id="hero1">a la une</h2>
  <div id="rectangle1" class="noir"></div>
  <div id="rectangle2" class="noir"></div>
  <div id="rectangle3" class="rouge"></div>
  <div class="card-small-title">
    <h3 class="small-title">Contre l'autoroute A412</h3>
    <p>
      Depuis le 7 septembre 2026, des habitant·es du Chablais bloquent
      physiquement l'arrivée des engins d'Eiffage dans la forêt de Planbois pour
      empêcher la construction de l'autoroute A412 et protéger les dernières
      zones humides du bassin lémanique. Face à une opération policière visant à
      imposer un chantier déclaré inarrêtable, la résistance locale appelle à un
      soutien immédiat sur place et financier pour tenir cette lutte qui dure
      depuis plus de trente ans.
    </p>
  </div>
  <h2 class="hero" id="hero2">01.26</h2>
</div>
