@font-face {
  font-family: "Druk";
  src: url("../assets/fonts/DrukCondensed-Super-Trial.woff") format("woff");
}

@font-face {
  font-family: "Ferro Regular I";
  src: url("../assets/fonts/FerroTest-RegularI.woff") format("woff");
}

@font-face {
  font-family: "Ferro Regular II";
  src: url("../assets/fonts/FerroTest-RegularII.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Ferro Italic II";
  src: url("../assets/fonts/FerroTest-ItalicII.woff") format("woff");
}
