@font-face {
  font-family: "Druck";
  src: url("../assets/fonts/DrukCondensed-Super-Trial.woff") format("woff");
}

@font-face {
  font-family: "Ferro";
  src:
    url("../assets/fonts/FerroTest-RegularI.woff") format("woff"),
    url("../assets/fonts/FerroTest-RegularII.woff") format("woff"),
    url("../assets/fonts/FerroTest-ItalicII.woff") format("woff");
}
