@import "font";
@import "base";
@import "layout";
@import "detail-article";

body {
  padding: 50px;
}

.druk {
  font-family: "Druk";
  text-transform: uppercase;
  font-size: 400px;
  font-weight: 100;
}

.ferro {
  font-family: "Ferro Italic II";
  font-size: 50px;
}
